# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Eclipse files
/.metadata/
/RemoteSystemsTempFiles/
*.apk
DroidX/.idea/.name
DroidX/.idea/compiler.xml
DroidX/.idea/encodings.xml
DroidX/.idea/copyright/profiles_settings.xml
DroidX/.idea/vcs.xml
*.apk
DroidX/.idea/runConfigurations.xml
DroidX/.idea/modules.xml
DroidX/.idea/gradle.xml
DroidX/.idea/inspectionProfiles/profiles_settings.xml
DroidX/.idea/inspectionProfiles/Project_Default.xml
*.apk
DroidX/.idea/misc.xml
Huston-parent/.classpath
*.project
Huston-parent/.settings/org.eclipse.core.resources.prefs
*.prefs
*.classpath
DroidX/app/app-release.apk